<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
</head>
<body>
<p>u1</p>
<p>Hello {{.u1.Name}}</p>
<p>性别：{{.u1.Gender}}</p>
<p>年龄：{{.u1.Age}}</p>
<hr>
<p>u2</p>
<p>Hello {{.u2.Name}}</p>
<p>性别：{{.u2.Gender}}</p>
<p>年龄：{{.u2.Age}}</p>

</body>
</html>